doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/style.css")
  body
    header
      h1 #{title}
      if authenticated
        span.user Welcome back!
    main
      p This page is rendered using a compiled template.
      p Compiled templates are 3x faster than Pug.js!
    footer
      p &copy; 2024 Pugz Demo
