include mixins/buttons.pug

doctype html
html
  head
    title Mixin Test
  body
    h1 Mixin Test Page

    p Testing button mixin:
    +btn("Click Me")
    +btn("Cancel", "secondary")

    p Testing link mixin:
    +btn-link("/home", "Go Home")
