.search-results.view-gallery
  each searchRecord in searchRecords
    .search-item
      .search-item-container.drop-shadow
        .img-container
          img(src=searchRecord.imgUrl)
        h4.title
          a(href=searchRecord.viewItemUrl)= searchRecord.title
        | #{searchRecord.description}
        if searchRecord.featured
          div Featured!
        if searchRecord.sizes
          div
            | Sizes available:
            ul
              each size in searchRecord.sizes
                li= size
