doctype html
html
  head
    title hello
  body
    p some thing
    | ballah
    | ballah
    +btn("click me ", "secondary")
  br
  a(href='//google.com' target="_blank") Google 1
  br
  a(class='button' href='//google.com' target="_blank") Google 2
  br
  a(class='button', href='//google.com' target="_blank") Google 3
