extends ../layouts/base.pug

block title
  title Include Demo | Pugz Store

block content
  section.page-header
    .container
      h1 Include Demo
      p Demonstrating the include directive

  section.section
    .container
      h2 Content from this page
      p The box below is included from a separate partial file.

      include includes/some_partial.pug

      h2 After the include
      p This content comes after the included partial.
