header.header
  .container
    .header-content
      a.logo(href="/") Pugz Store
      nav.nav
        a.nav-link(href="/") Home
        a.nav-link(href="/products") Products
        a.nav-link(href="/about") About
      .header-actions
        a.cart-link(href="/cart")
          | Cart (#{cartCount})
